<form [formGroup]="formFilters">
  <div class="keywords-search">
    <mat-form-field class="full-width">
      <mat-label>Search by Title Keywords</mat-label>
      <input matInput placeholder="Search by keywords" [formControl]="formFilters.get('keywords')"/>
    </mat-form-field>
  </div>
  <div class="flex flex-row flex-between">
    <div class="flex flex-row">

      <mat-form-field>
        <mat-label>Filter By:</mat-label>
        <mat-select formControlName="type">
          <mat-option [value]="false">ALl Media</mat-option>
          <mat-option *ngFor="let itemType of filters.types" [value]="itemType.value">
            {{itemType.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Sort By:</mat-label>
        <mat-select formControlName="sortColumn">
          <mat-option *ngFor="let sortBy of filters.sortColumn" [value]="sortBy.value">
            {{sortBy.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>


    </div>
    <div class="flex flex-row flex-center">
      <div (click)="resetFilters()" class="flex flex-row flex-center" style="margin-right: 20px">
        <mat-icon>clear</mat-icon>
        Clear
      </div>
      <div (click)="switchSorting()">
        <mat-icon *ngIf="formFilters.get('sort').value === ItemsOrder.ASC">arrow_downward</mat-icon>
        <mat-icon *ngIf="formFilters.get('sort').value === ItemsOrder.DESC">arrow_upward</mat-icon>
      </div>
    </div>
  </div>
</form>
