/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.flex {
  display: flex;

  &.flex-center {
    align-items: center;
  }

  &.flex-row {
    flex-direction: row;
  }

  &.flex-between {
    justify-content: space-between;
  }

}

.full-width {
  width: 100%;
}

ul, li {
  list-style: none;
  marign: 0;
  padding: 0;
}
